<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("partials/Header.ejs") %>
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="./images/500.jpg"
        alt=""
        width="80%"
        height="80%"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">500 Days of Summer</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <p>
          "You're just afraid you'll get an answer you don't want, which will
          shatter all the illusions of how great these past few months have
          been."
          This line, said by Tom's little sister, represents a lot of
          what the whole film revolves around. 
          </p>
          <p>
          Summer: When it comes to Summer,
          I don't really believe that her stating she's not looking for anything
          serious and just wants something casual frees her from all
          responsibility for how the relationship ended, because their
          relationship was never something you could call casual. 
          </p>
          <p>
          Tom: Having
          such a big crush on someone can easily make you go along with whatever
          they say, without stating your opinion or concerns, just for the sake
          of not losing them. And while I find that understandable, he's still
          at fault for not making it clear from the beginning how he felt and
          how he saw their relationship, and I feel like he takes slightly more
          of the blame for how things ended between them. 
          </p>
          <p>
          Personal: I related a
          lot to this fear of expressing how you feel and what you want to
          someone you like or are fond of, because you're too afraid of losing
          that person and the amazing moments you share. And I believe, most of
          the time (as it happens in this film) it never ends well. It's not
          easy putting your feelings into words, especially when you hold that
          person in such high regard that you end up putting yourself down in
          the process, all while knowing it is seen as morally wrong/forbidden
          in your society.
          </p>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
      </div>
    </div>
  </body>
</html>
