<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se7en</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <%- include("partials/Header.ejs") %>

    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="./images/se7enPic.webp"
        alt=""
        width="60%"
        height="60%"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">Se7en</h1>
      <div class="col-lg-6 mx-auto">
        <p class = "fw-bold"> Note: This review is for a rewatch I did in the cinema.</p>
        <p class="lead mb-4">
          <p>
I felt like a baby getting his first toy watching this in IMAX for the first time.

          </p>
          <p>
I love everything about this film and enjoy every second of it. It was such a thrilling, emotional, engaging, and incredible experience that time flew by while I watched.


          </p>
          <p>
The dialogue in the drive at the end is among the best movie dialogues of all time, and Kevin Spacey is such a fantastic actor.


          </p>
          <p>
I'd give it more than five stars if I could.

          </p>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
      </div>
    </div>
    
    <%- include("partials/Footer.ejs") %>
</body>
</html>