<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheNotebook</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("partials/Header.ejs") %>

        <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="./images/meow1.jpg"
        alt=""
        width="60%"
        height="60%"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">The Notebook</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          <p>
          Idk why I do this to myself, I wasn't in a good state of mind today and decided to rewatch this and I feel like I just tortured myself mentally.
          </p>
          <p>
            Rewatching this feels a lot different to the first watch, because knowing the plot makes you focus on things you weren't really focusing on, which made the film seem quiet different.

          </p>
          <p>
            The cinematography of this film takes it to another level with such intresting camera work, even though I felt that some scenes were not needed, but it still gave you that authentic feeling of a girl on a holiday with her father.

          </p>
          <p>
            The scene where she tells him "don't offer to pay for something when I know you don't have the money" felt like a stab in the heart when I saw it from the father's point of view, and I somewhat believe this could be the breaking point for him.
          </p>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
      </div>
    </div>
    
    <%- include("partials/Footer.ejs") %>
</body>
</html>