<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
            aria-label="Bootstrap"
          >
            <svg class="bi" width="30" height="24" aria-hidden="true">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary"
            >© 2025 AbMisar, Inc</span
          >
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://www.linkedin.com/in/abdullah-misar-57a601249/"
              aria-label="linkedin"
            >
              <img
                src="/images/linkedin.svg"
                width="24"
                height="24"
                alt="Instagram"
              />
            </a>
          </li>
          <li class="ms-3">
            <a class="text-body-secondary" href="https://www.x.com/abmisar1" aria-label="Twitter">
              <img
                src="/images/twitter-x.svg"
                width="24"
                height="24"
                alt="Twitter"
              />
            </a>
          </li>
          <li class="ms-3">
            <a
              class="text-body-secondary"
              href="https://www.instagram.com/abmisar"
              aria-label="Instagram"
            >
              <img
                src="/images/instagram.svg"
                width="24"
                height="24"
                alt="Instagram"
              />
            </a>
          </li>
          
        </ul>
      </footer>
    </div>
  </body>
</html>
